{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Merechex | {% block title %}{% endblock %}  </title>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
</head>
<body>
    <nav>
        <a href="{% url 'band-list' %}">Groupes</a>
        <a href="{% url 'listing-list' %}">Listings</a>
        <a href="{% url 'about-us' %}">About us</a>
        <a href="{% url 'contact' %}">Contact</a>
   </nav>
    {% block content %}{% endblock %}
</body>
</html>